body {
  font-family: Arial, sans-serif;
  background-color: #a59e9e;
  margin: 0;
  padding: 80px;
}

h1 {
  text-align: center;
  color: #333;
}
h2 {
  text-align: center;
  color: #666;
}

h3 {
  text-align: center;
  color: #999;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  page-break-after: always;
}

article {
  flex: 1 1 calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  box-shadow: #333 0px 0px 10px;
  background-color: #fff;
}

.kcal {
  font-weight: bold;
  color: #ff0000;
}

.protein {
  font-weight: bold;
  color: #0a5a20;
}
