<form title="Comment form for blog discussion" onSubmit="return addComment(this,'{{recaptchaid}}','{{parentId}}')" class="form-vertical well well-raised">
	<fieldset>
		<legend>Add your comment</legend>
		<p>Please note: <b>Comments without a valid and working eMail address will be removed.</b><br />
		   This is my site, so I decide what stays here and what goes.</p>
		<div class="control-group" id="commentcontrol" >

			<label class="control-label" for="Commentor">Name (required, published)</label>
			<div class="controls">
				<input class="input-xlarge focused" id="Commentor" size="30" accesskey="n" name="nameAuthor" />
			</div>
			<label class="control-label" for="Email">eMail (required, not published)</label>
			<div class="controls">
				<input type="eMail" class="input-xlarge focused" id="Email" size="30" accesskey="n" name="txtEmail" placeholder="A working eMail please!"/>
			</div>
			<label class="control-label" for="webSite">URL (optional)</label>
			<div class="controls">
				<input type="url" class="input-xlarge" id="webSite" size="30" accesskey="n" name="txtWebSite" />
			</div>
			<div class="controls">
				<div id="wmd-panel" class="wmd-panel">
					<table style="width : 100%" border="0">
						<tr>
							<td style="width : 50%; vertical-align : top">
								<label class="control-label" for="wmd-input">Your Comment (Use markdown like <a href="//stackoverflow.com/editing-help" target="_blank" >Stackoverflow</a>)</label>
								<div id="wmd-button-bar"></div>
								<textarea class="wmd-input" id="wmd-input" name="Body"></textarea>
							</td>
							<td style="width : 50%; vertical-align : top">
								<label class="control-label">Preview</label>
								<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="controls g-recaptcha" data-sitekey="{{recaptchaid}}" id="captchadiv"></div>
			<div class="form-actions">
				<button id="commentsubmit" type="submit" class="btn btn-primary btn-large" >Post your comment</button>
			</div>
		</div>
		<div class="alert alert-block" id="alertContainer" style="display : none">One moment please, submitting comment...</div>
	</fieldset>
</form>
